<div class="container marketing">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-lg-6" *ngFor="let paciente of pacientes">
            <button class="button-img" (click)="handlePatientClick(paciente)" [@slideIn]>
              <img *ngIf="paciente.imagen; else placeholder" src="{{ paciente.imagen }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Paciente Image"/>
              <ng-template #placeholder>
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#777" />
                  <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
              </ng-template>
              <div>
                <h2>{{ paciente.nombre }}</h2>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div *ngIf="turnos.length > 0" [@slideInFromBottom]>
          <button type="button" class="btn btn-primary" (click)="crearPdf()" style="margin-bottom: 15px">Descargar PDF</button>
          <div *ngIf=" miRol === 'Administrador'" class="mb-4">
            <label class="mb-2"> Buscar por especialidad o especialista </label>
            <input [(ngModel)]="filtro" (ngModelChange)="pacienteFiltrar()" class="form-control w-50" appEjercicioC/>
          </div>
          <table class="appointments-table">
            <tr>
              <th>Horario</th>
              <th>Doctor</th>
              <th>Especialidad</th>
              <th>Estado</th>
              <th>Motivo</th>
            </tr>

            <tr *ngFor="let turno of turnos; let i = index" >
              <td>{{ turno.fecha + " - " + turno.hora }}</td>
              <td>{{ turno.especialista.nombre }} {{ turno.especialista.apellido }}</td>
              <td>{{ turno.especialidad }}</td>
              <td>{{ turno.estado | uppercase }}</td>
              <td class="tdMotivo">{{ turno.razon }}</td>
              <td *ngIf="turno.reviewEsp">
                <button class="btn btn-info" (click)="verReviewHandler(turno)">Ver reseña</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <app-m-turno *ngIf="turnoSeleccionado && estado == 'resena'" [data]="turnoSeleccionado" [estado]="estado" (closeModal)="verReviewHandler(null)">
    </app-m-turno>
    
</div>  