<div class="contenedor">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        
        <header class="mb-auto">
            <p>
            <h3 class="float-md-start mb-0">
                <img src="../../../assets/icono-clinica.png" alt="Bootstrap" width="50" height="50"/>
                Clínica Online
            </h3>
            <p>
        </header>
        
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="w-50">
                <h1>Clinica Online</h1>
                <p class="lead">
                    FDQ
                </p>
                
                <p class="lead">
                    <a routerLink="/auth/login" class="btn btn-lg btn-primary fw-bold border-white" (click)="acceder()">Ingresar</a>
                    <a routerLink="/auth/registrar" class="btn btn-lg btn-secondary fw-bold border-white" (click)="registrar()">Registrar</a>
                </p>
            </div>
        </div>

    </div>
</div>  