/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/bienvenido.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta según tus necesidades */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical si es necesario */
}
  
.container {
    width: 100%;
    padding: 20px; /* Ajusta según tus necesidades */
}
  
.contenedor-mayor {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    padding-top: 3rem;
}

.contenedor-menor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem 3rem;
    margin-bottom: 3rem;
    /* background: rgba(10, 10, 10, .9);
     border-radius: .6rem;*/
}

/* .fondo-oscuro {
     background: rgba(10, 10, 10, .9);
     border-radius: .6rem;
}*/
   
.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}